<%- include('./partials/header.ejs')%>
    <title>Bookmarks</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <%- include('./partials/header-end.ejs')%>
    <div id="preloader"></div>
        <div class="content">
            <div class="container d-flex justify-content-center align-items-center">
                <h3>Welcome, <%=user.firstName%></h3>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <h3>Here are the events you've bookmarked: </h3>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <ul id="bookmarks">
                    <% if(user.bookmarks.length) {%>
                        <%user.bookmarks.forEach(item => {%>
                            <a href="<%= item["link"]%>"><li><%=item["title"]%></li></a>
                        <%})%>
                    <%} else {%>
                        <p>You have no bookmarks to display.</p>
                    <%}%>
                </ul>
            </div>
        </div>
        <%- include('./partials/footer.ejs')%>