<%- include('./partials/header.ejs')%>
    <title>Error page</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <%- include('./partials/header-end.ejs')%>
        <div class="content">
            <h3>
                <%= error.status%> Error
            </h3>
            <p>
                <%= error.message%>
            </p>
        </div>
        <%- include('./partials/footer.ejs') %>