<%- include('../partials/header.ejs')%>
    <title>Friends</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <script src="/javascript/friends"></script>
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h3>My Friends</h3>
                        <div id="friends-list">
                            <ul>
                                <% friendArr.forEach((friend)=> {%>
                                    <li>
                                        <%= friend.firstName %>
                                            <%= friend.lastName %> (<%=friend.email%>)
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Add a Friend</h3>
                        <form id="add-friend-form" action="/users/friends" method="POST">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Add Friend</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs')%>