<%- include('../partials/header.ejs')%>
    <title>Messages</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <p><b>Messages will be automatically deleted after 30 days</b></p><br>
            <%if(inboxArr.length == 0 || inboxArr == null) {%>
                <p>You have no messages.</p>
            <%} else {%>
                <table id="messages">
                    <tr>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                    <%inboxArr.forEach((message) => {%>
                        <tr>
                            <td><%=message.createdAt%></td>
                            <td><a href="/users/view_message?message=<%=message._id%>"><%=message.subject%></a></td>
                        </tr>
                    <%})%>
                </table> 
            <%}%>
        </div>
        <%- include('../partials/footer.ejs')%>