<%- include('../partials/header.ejs')%>
    <title>Notification</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <%- include('../partials/header-end.ejs')%>
        <!-- page dedicated to non-essential notifications -->
        <div class="content">
            <h3>
                <%= title %>
            </h3>
            <p>
                <%= msg %>
            </p>
        </div>
        <%- include('../partials/footer.ejs') %>