<%- include('../partials/header.ejs')%>
    <title>Send a Message</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form id="sendMessageForm" action="/users/send_message" method="POST">
                            <div class="form-group">
                                <label for="friend">Recipient:</label>
                                <input type="text" class="form-control" value="<%= firstName %> <%= lastName %>"
                                    id="friend" name="friend" readonly>
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject:</label>
                                <input type="text" class="form-control" value="" id="subject" name="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="text">Message:</label>
                                <textarea class="form-control" id="text" name="text" rows="6" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs')%>