<%- include('../partials/header.ejs')%>
    <title>Send a Message</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <p><b>Sender: <%= message.sender.firstName %> <%= message.sender.lastName%></b></p><br>
            <p><b>Subject: <%= message.subject %></b></p><br>
            <p class="messageBody"> <%= message.msg %></p>
            <input type="button" formaction="/reply_message?id=<%= message._id %>&edit=true" formaction="GET" value="Reply"> <input type="button" formaction="/view_message?id=<%= message._id %>_method=DELETE" formmethod="POST" value="Delete">
        </div>
        <%- include('../partials/footer.ejs')%>