<%- include('../partials/header.ejs')%>
    <title>Send a Message</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <p><b>Sender: </b><%= message.sender.firstName %> <%= message.sender.lastName %></p><br>
            <p><b>Subject: </b><%= message.subject %></b></p><br>
            <p class="messageBody"> <%= message.msg %></p>
            <form>
                <a href="/users/reply_message?id=<%=message._id%>&edit=true"><input type="button" id="replyBtn" value="Reply"></a> <a href="/users/view_message?id=<%= message._id %>&delete=true"><input type="button" id="deleteBtn" value="Delete"></a>
            </form>
        </div>
        <%- include('../partials/footer.ejs')%>